
<section class="container-fluid" id="about">
  <h1 class="text-center">About</h1>
  <div class="row">
    <div class="img-michael col-sm-6 col-sm-offset-3">
      <img class="img img-responsive img-thumbnail center-block"
        src="images/myAvatar.png" alt="Michael Kornblum">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <p>
        Hi I am Hang Dang, I am a computer programmer student at georgian college. I am in my fourth semester. I love to code and I want to make it a fulltime job
      </p>
      <a href="/contact" class="btn btn-lg btn-success center-block">Contact Me</a>
    </div>
  </div>
</section>

