
<section class="container-fluid" id="contact">
  <h1 class="text-center">Contact</h1>
  <dl class="col-sm-12">
    <dt>
      <i class="fa fa-github"></i> Github:
    <dt>
    <dd>
      <a href="https://github.com/MinhHangDang" target="_blank">https://github.com/MinhHangDang</a>
    </dd>
    <dt>
      <i class="fa fa-envelope"></i> Email:
    </dt>
    <dd>
      200217917@student.georgianc.on.ca
    <dd>
  </dl>
</section>
 