{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p> --}}



<header class="container-fluid">
  <div class="teaser-text container-fluid">
    <h1 class="text-center">Hang Dang</h1>
    <h2>I am a Computer Programmer Student</h2>
  </div>
</header>
